
      body {
        background-color: rgb(25, 25, 25);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .title {
        font-size: 30px;
        font-weight: bold;
      }

      .title-select {
        font-size: 20x;
        font-weight: bold;
      }
      
      .move-icon {
        height: 50px;
        
      }

      .move-button {
        background: transparent;
        border: 3px solid white;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: 10px;
        cursor: pointer;
      }

      .result {
        font-size: 25px;
        font-weight: bold;
      }

      .score {
        margin-top: 60px;
      }

      .reset-score-button {
        background-color: white;
        border: none;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;
      }
 